## Background:

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

#### Goal(s):
Predict how fit the candidate is based on their available information (variable fit)

#### Success Metric(s):
* Rank candidates based on a fitness score.
* Re-rank candidates when a candidate is starred.

#### Bonus(es):
* We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with each starring action.
* How can we filter out candidates which in the first place should not be in this list?
* Can we determine a cut-off point that would work for other roles without losing high potential candidates?
* Do you have any ideas that we should explore so that we can even automate this procedure to prevent human bias?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import re
import string
from collections import Counter

import nltk
from nltk.tokenize import WordPunctTokenizer
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

import spacy

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer

[nltk_data] Downloading package stopwords to C:\Users\Dorcas
[nltk_data]     Taiwo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Dorcas
[nltk_data]     Taiwo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Dorcas
[nltk_data]     Taiwo\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

## Load and Explore Dataset

In [2]:
# Read in Dataset

Data = pd.read_csv('C:\\Users\\Public\\potential-talents - Aspiring human resources - seeking human resources.csv')
Dataset = Data.copy()

Dataset.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [3]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [4]:
#some basic stats for categorical columns

Dataset.describe(include=object)

                                                job_title location connection
count                                                 104      104        104
unique                                                 52       41         33
top     2019 C.T. Bauer College of Business Graduate (...   Kanada      500+
freq                                                    7       12         44

In [5]:
Dataset.shape

(104, 5)

In [6]:
len(Dataset['id'].unique())

104

In [7]:
Dataset = Dataset.set_index('id')
Dataset.head()

,job_title,location,connection,fit
id,,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [8]:
#drop fit column

Dataset.drop('fit',axis=1,inplace=True)
Dataset.head()

,job_title,location,connection
id,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
2,Native English Teacher at EPIK (English Progra...,Kanada,500+
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
4,People Development Coordinator at Ryan,"Denton, Texas",500+
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+

In [9]:
#count duplicated rows in the total dataset

Dataset.loc[Dataset.duplicated(), :]
print(Dataset.duplicated().sum())

51

In [10]:
#drop duplicated rows in the total dataset
Dataset.drop_duplicates(inplace=True)
Dataset.shape

(53, 3)

In [11]:
#Verify if ther are some null values 

Dataset.isnull().sum()

job_title     0
location      0
connection    0
dtype: int64

In [12]:
Dataset.job_title.value_counts()

Aspiring Human Resources Professional                                                                                    2
2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional                 1
Lead Official at Western Illinois University                                                                             1
Senior Human Resources Business Partner at Heil Environmental                                                            1
Aspiring Human Resources Professional | An energetic and Team-Focused Leader                                             1
HR Manager at Endemol Shine North America                                                                                1
Human Resources professional for the world leader in GIS software                                                        1
RRP Brand Portfolio Executive at JTI (Japan Tobacco International)                                                       1
Information Systems Specialist and Programmer with a love for data and organization.                                     1
Bachelor of Science in Biology from Victoria University of Wellington                                                    1
Human Resources Management Major                                                                                         1
Director Human Resources  at EY                                                                                          1
Undergraduate Research Assistant at Styczynski Lab                                                                       1
Seeking employment opportunities within Customer Service or Patient Care                                                 1
Liberal Arts Major. Aspiring Human Resources Analyst.                                                                    1
Admissions Representative at Community medical center long beach                                                         1
Seeking Human  Resources Opportunities. Open to travel and relocation.                                                   1
Student at Westfield State University                                                                                    1
Student at Indiana University Kokomo - Business Management - \nRetail Manager at Delphi Hardware and Paint               1
Student                                                                                                                  1
Seeking Human Resources Position                                                                                         1
Aspiring Human Resources Manager | Graduating May 2020 | Seeking an Entry-Level Human Resources Position in St. Louis    1
Human Resources Generalist at Loparex                                                                                    1
Business Intelligence and Analytics at Travelers                                                                         1
Always set them up for Success                                                                                           1
Junior MES Engineer| Information Systems                                                                                 1
Human Resources Generalist at Schwan's                                                                                   1
Native English Teacher at EPIK (English Program in Korea)                                                                1
Seeking Human Resources Opportunities                                                                                    1
People Development Coordinator at Ryan                                                                                   1
Advisory Board Member at Celal Bayar University                                                                          1
Aspiring Human Resources Specialist                                                                                      1
Student at Humber College and Aspiring Human Resources Generalist                                                        1
HR Senior Specialist                                                                                                     1
Seeking Human Resources HRIS and Generalist Positions                                                                    1
Student at Chapman University                                                                                            1
SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR              1
Human Resources Coordinator at InterContinental Buckhead Atlanta                                                         1
Aspiring Human Resources Management student seeking an internship                                                        1
Experienced Retail Manager and aspiring Human Resources Professional                                                     1
Human Resources|\nConflict Management|\nPolicies & Procedures|Talent Management|Benefits & Compensation                  1
Human Resources, Staffing and Recruiting Professional                                                                    1
Human Resources Specialist at Luxottica                                                                                  1
Director of Human Resources North America, Groupe Beneteau                                                               1
Retired Army National Guard Recruiter, office manager,  seeking a position in Human Resources.                           1
Human Resources Generalist at ScottMadden, Inc.                                                                          1
Business Management Major and Aspiring Human Resources Manager                                                           1
Aspiring Human Resources Manager, seeking internship in Human Resources.                                                 1
Human Resources Professional                                                                                             1
Nortia Staffing is seeking Human Resources, Payroll & Administrative Professionals!!  (408) 709-2621                     1
Aspiring Human Resources Professional | Passionate about helping to create an inclusive and engaging work environment    1
Director Of Administration at Excellence Logging                                                                         1
Name: job_title, dtype: int64

## Data Cleansing / Text Preprocessing

* Define preprocessing function to clean the text columns

In [13]:
# Load spacy
nlp = spacy.load("en_core_web_sm")

def clean_string(text, stem="None"):

    final_string = ""
    
    # Remove all the special characters
    text = re.sub(r'\W', ' ', str(text))

    # remove all single characters
    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text)

    # Remove single characters from the start
    text = re.sub(r'\^[a-zA-Z]\s+', ' ', text)

    # Removing prefixed 'b'
    text = re.sub(r'^b\s+', '', text)
    
    # Make text lower case
    text = text.lower()
        
    # Remove stop words
    text = text.split()
    useless_words = nltk.corpus.stopwords.words("english")
   
    text_filtered = [word for word in text if not word in useless_words]

    # Remove numbers
    text_filtered = [re.sub(r'\w*\d\w*', '', w) for w in text_filtered]
    
    # Stem or Lemmatize
    if stem == 'Stem':
        stemmer = PorterStemmer() 
        text_stemmed = [stemmer.stem(y) for y in text_filtered]
    elif stem == 'Lem':
        lem = WordNetLemmatizer()
        text_stemmed = [lem.lemmatize(y) for y in text_filtered]
    elif stem == 'Spacy':
        text_filtered = nlp(' '.join(text_filtered))
        text_stemmed = [y.lemma_ for y in text_filtered]
    else:
        text_stemmed = text_filtered

    final_string = ' '.join(text_stemmed)
    
    # Removing whitespace from the start of the string
    final_string = final_string.lstrip()
    
    # Substituting multiple spaces with single space
    final_string = re.sub(r'\s+', ' ', final_string, flags=re.I)
    
    return final_string

In [14]:
Dataset['job_title'] = Dataset['job_title'].apply(lambda x: clean_string(x, stem='Spacy'))

In [15]:
#Example after text preprocessing

print(Data.iloc[0]['job_title'])
Dataset.iloc[0]['job_title']

2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional

'bauer college business graduate magna cum laude aspire human resource professional'

In [16]:
Dataset.job_title.value_counts()

aspire human resource professional                                                                2
bauer college business graduate magna cum laude aspire human resource professional                1
lead official western illinois university                                                         1
senior human resource business partner heil environmental                                         1
aspire human resource professional energetic team focus leader                                    1
hr manager endemol shine north america                                                            1
human resource professional world leader gis software                                             1
rrp brand portfolio executive jti japan tobacco international                                     1
information system specialist programmer love datum organization                                  1
bachelor science biology victoria university wellington                                           1
human resource management major                                                                   1
director human resource ey                                                                        1
undergraduate research assistant styczynski lab                                                   1
seek employment opportunity within customer service patient care                                  1
liberal art major aspire human resource analyst                                                   1
admission representative community medical center long beach                                      1
seek human resource opportunity open travel relocation                                            1
student westfield state university                                                                1
student indiana university kokomo business management retail manager delphi hardware paint        1
student                                                                                           1
seek human resource position                                                                      1
aspire human resource manager graduating may seek entry level human resource position st louis    1
human resource generalist loparex                                                                 1
business intelligence analytic traveler                                                           1
always set success                                                                                1
junior mes engineer information system                                                            1
human resource generalist schwan                                                                  1
native english teacher epik english program korea                                                 1
seek human resource opportunity                                                                   1
people development coordinator ryan                                                               1
advisory board member celal bayar university                                                      1
aspire human resource specialist                                                                  1
student humber college aspire human resource generalist                                           1
hr senior specialist                                                                              1
seek human resource hris generalist position                                                      1
student chapman university                                                                        1
svp chro marketing communication csr officer engie houston woodland energy gphr sphr              1
human resource coordinator intercontinental buckhead atlanta                                      1
aspire human resource management student seek internship                                          1
experience retail manager aspire human resource professional                                      1
human resource conflict management policy procedure talent management benefit compensation        1
human resource staff recruit professional                                                         1
human resource specialist luxottica                                                               1
director human resource north america groupe beneteau                                             1
retire army national guard recruiter office manager seek position human resource                  1
human resource generalist scottmadden inc                                                         1
business management major aspire human resource manager                                           1
aspire human resource manager seek internship human resource                                      1
human resource professional                                                                       1
nortia staff seek human resource payroll administrative professional                              1
aspire human resource professional passionate helping create inclusive engage work environment    1
director administration excellence log                                                            1
Name: job_title, dtype: int64

### Observations
* Reviewing the job_title field after cleansing, there are some abbreviations to be expanded and also spacing to adjust.

In [17]:
#replace abreviations by there real texts
Dataset.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'Senior Professional in Human Resources'
        , 'hr' : 'human resources', 'rrp': 'recommended retail price'}}, regex=True, inplace=True)

In [18]:
Dataset.job_title.value_counts()

aspire human resource professional                                                                                                                                                                                                 2
bauer college business graduate magna cum laude aspire human resource professional                                                                                                                                                 1
lead official western illinois university                                                                                                                                                                                          1
senior human resource business partner heil environmental                                                                                                                                                                          1
aspire human resource professional energetic team focus leader                                                                                                                                                                     1
human resources manager endemol shine north america                                                                                                                                                                                1
human resource professional world leader gis software                                                                                                                                                                              1
rrp brand portfolio executive jti japan tobacco international                                                                                                                                                                      1
information system specialist programmer love datum organization                                                                                                                                                                   1
bachelor science biology victoria university wellington                                                                                                                                                                            1
human resource management major                                                                                                                                                                                                    1
director human resource ey                                                                                                                                                                                                         1
undergraduate research assistant styczynski lab                                                                                                                                                                                    1
seek employment opportunity within customer service patient care                                                                                                                                                                   1
liberal art major aspire human resource analyst                                                                                                                                                                                    1
admission representative community medical center long beach                                                                                                                                                                       1
seek human resource opportunity open travel relocation                                                                                                                                                                             1
student westfield state university                                                                                                                                                                                                 1
student indiana university kokomo business management retail manager delphi hardware paint                                                                                                                                         1
student                                                                                                                                                                                                                            1
seek human resource position                                                                                                                                                                                                       1
aspire human resource manager graduating may seek entry level human resource position st louis                                                                                                                                     1
human resource generalist loparex                                                                                                                                                                                                  1
business intelligence analytic traveler                                                                                                                                                                                            1
always set success                                                                                                                                                                                                                 1
junior mes engineer information system                                                                                                                                                                                             1
human resource generalist schwan                                                                                                                                                                                                   1
native english teacher epik english program korea                                                                                                                                                                                  1
seek human resource opportunity                                                                                                                                                                                                    1
people development coordinator ryan                                                                                                                                                                                                1
advisory board member celal bayar university                                                                                                                                                                                       1
aspire human resource specialist                                                                                                                                                                                                   1
student humber college aspire human resource generalist                                                                                                                                                                            1
human resources senior specialist                                                                                                                                                                                                  1
seek human resource human resources information system generalist position                                                                                                                                                         1
student chapman university                                                                                                                                                                                                         1
senior vice president chief human resources officer marketing communication corporate social responsibility officer engie houston woodland energy global professional in human resources Senior Professional in Human Resources    1
human resource coordinator intercontinental buckhead atlanta                                                                                                                                                                       1
aspire human resource management student seek internship                                                                                                                                                                           1
experience retail manager aspire human resource professional                                                                                                                                                                       1
human resource conflict management policy procedure talent management benefit compensation                                                                                                                                         1
human resource staff recruit professional                                                                                                                                                                                          1
human resource specialist luxottica                                                                                                                                                                                                1
director human resource north america groupe beneteau                                                                                                                                                                              1
retire army national guard recruiter office manager seek position human resource                                                                                                                                                   1
human resource generalist scottmadden inc                                                                                                                                                                                          1
business management major aspire human resource manager                                                                                                                                                                            1
aspire human resource manager seek internship human resource                                                                                                                                                                       1
human resource professional                                                                                                                                                                                                        1
nortia staff seek human resource payroll administrative professional                                                                                                                                                               1
aspire human resource professional passionate helping create inclusive engage work environment                                                                                                                                     1
director administration excellence log                                                                                                                                                                                             1
Name: job_title, dtype: int64

In [19]:
words_counts = Counter()
for i in Dataset.job_title:
    for word in i.split(" "):
        words_counts[word] += 1

print('There are', len(words_counts) ,'words in the job title column')
words_counts.most_common()

There are 185 words in the job title column

[('human', 39),
 ('resource', 34),
 ('aspire', 13),
 ('professional', 11),
 ('seek', 10),
 ('manager', 7),
 ('university', 6),
 ('student', 6),
 ('management', 6),
 ('business', 5),
 ('generalist', 5),
 ('resources', 5),
 ('specialist', 4),
 ('position', 4),
 ('senior', 3),
 ('information', 3),
 ('system', 3),
 ('opportunity', 3),
 ('director', 3),
 ('major', 3),
 ('college', 2),
 ('english', 2),
 ('coordinator', 2),
 ('officer', 2),
 ('in', 2),
 ('internship', 2),
 ('retail', 2),
 ('staff', 2),
 ('north', 2),
 ('america', 2),
 ('leader', 2),
 ('bauer', 1),
 ('graduate', 1),
 ('magna', 1),
 ('cum', 1),
 ('laude', 1),
 ('native', 1),
 ('teacher', 1),
 ('epik', 1),
 ('program', 1),
 ('korea', 1),
 ('people', 1),
 ('development', 1),
 ('ryan', 1),
 ('advisory', 1),
 ('board', 1),
 ('member', 1),
 ('celal', 1),
 ('bayar', 1),
 ('humber', 1),
 ('chapman', 1),
 ('vice', 1),
 ('president', 1),
 ('chief', 1),
 ('marketing', 1),
 ('communication', 1),
 ('corporate', 1),
 ('social', 1),
 ('responsibility', 1),
 ('engie', 1),
 ('houston', 1),
 ('woodland', 1),
 ('energy', 1),
 ('global', 1),
 ('Senior', 1),
 ('Professional', 1),
 ('Human', 1),
 ('Resources', 1),
 ('intercontinental', 1),
 ('buckhead', 1),
 ('atlanta', 1),
 ('experience', 1),
 ('recruit', 1),
 ('luxottica', 1),
 ('groupe', 1),
 ('beneteau', 1),
 ('retire', 1),
 ('army', 1),
 ('national', 1),
 ('guard', 1),
 ('recruiter', 1),
 ('office', 1),
 ('scottmadden', 1),
 ('inc', 1),
 ('nortia', 1),
 ('payroll', 1),
 ('administrative', 1),
 ('', 1),
 ('passionate', 1),
 ('helping', 1),
 ('create', 1),
 ('inclusive', 1),
 ('engage', 1),
 ('work', 1),
 ('environment', 1),
 ('conflict', 1),
 ('policy', 1),
 ('procedure', 1),
 ('talent', 1),
 ('benefit', 1),
 ('compensation', 1),
 ('schwan', 1),
 ('liberal', 1),
 ('art', 1),
 ('analyst', 1),
 ('junior', 1),
 ('mes', 1),
 ('engineer', 1),
 ('partner', 1),
 ('heil', 1),
 ('environmental', 1),
 ('energetic', 1),
 ('team', 1),
 ('focus', 1),
 ('endemol', 1),
 ('shine', 1),
 ('world', 1),
 ('gis', 1),
 ('software', 1),
 ('rrp', 1),
 ('brand', 1),
 ('portfolio', 1),
 ('executive', 1),
 ('jti', 1),
 ('japan', 1),
 ('tobacco', 1),
 ('international', 1),
 ('programmer', 1),
 ('love', 1),
 ('datum', 1),
 ('organization', 1),
 ('bachelor', 1),
 ('science', 1),
 ('biology', 1),
 ('victoria', 1),
 ('wellington', 1),
 ('ey', 1),
 ('undergraduate', 1),
 ('research', 1),
 ('assistant', 1),
 ('styczynski', 1),
 ('lab', 1),
 ('lead', 1),
 ('official', 1),
 ('western', 1),
 ('illinois', 1),
 ('employment', 1),
 ('within', 1),
 ('customer', 1),
 ('service', 1),
 ('patient', 1),
 ('care', 1),
 ('admission', 1),
 ('representative', 1),
 ('community', 1),
 ('medical', 1),
 ('center', 1),
 ('long', 1),
 ('beach', 1),
 ('open', 1),
 ('travel', 1),
 ('relocation', 1),
 ('westfield', 1),
 ('state', 1),
 ('indiana', 1),
 ('kokomo', 1),
 ('delphi', 1),
 ('hardware', 1),
 ('paint', 1),
 ('graduating', 1),
 ('may', 1),
 ('entry', 1),
 ('level', 1),
 ('st', 1),
 ('louis', 1),
 ('loparex', 1),
 ('intelligence', 1),
 ('analytic', 1),
 ('traveler', 1),
 ('always', 1),
 ('set', 1),
 ('success', 1),
 ('administration', 1),
 ('excellence', 1),
 ('log', 1)]

### Observation:
The most frequent words in the job title column are: 'human', 'resource', 'aspire', 'professional' and 'seek'.

## Ranking/Score candidates based on keywords.

### Apply TF-IDF
* TF-IDF (Term frequency-inverse Document Frequency): The idea of TF-IDF is to reflect the importance of a word to its document or sentence by normalizing the words which occur frequently in the collection of documents.

* Term frequency (TF): number of times a term has appeared in a document. The term frequency is a measure of how frequently or how common a word is for a given sentence.

* Inverse Document Frequency (IDF): The inverse document frequency (IDF ) is a measure of how rare a word is in a document. Words like “the”,” a” show up in all the documents but rare words will not occur in all the documents of the corpus.

If a word appears in almost every document means it’s not significant for the classification.

In [20]:
df=Dataset.copy()

In [21]:
def rank_candidates_tfidf(keyword,df,feature_name):
    #store cleaned rows into a list
    corpus=df[feature_name].tolist()
    #apply preprocessing on keyword
    keyword=clean_string(keyword,stem='Spacy')
    #create an instance of tfidfVectorizer
    tfvectoriser = TfidfVectorizer()
    #Append the cleaned keyword to th corpus list 
    corpus.append(keyword)
    #fit the Tfidf vectorizer on the cleaned data
    key_tf=tfvectoriser.fit_transform(corpus)
    #create a dataframe that contains tfidf values of each token for each row in th data
    key_df=pd.DataFrame(key_tf.toarray(), columns=tfvectoriser.get_feature_names())
    shape=key_df.shape
    #calculate the cosine similarity between the keyword and the data's rows
    cosine_sim = cosine_similarity(key_tf.toarray()[:shape[0]-1], key_tf.toarray()[shape[0]-1].reshape(1, -1))
    #Add cosine resluts into a new column fit
    df['fit_tfidf']=cosine_sim
    #store the ranked candidates based on the fit score
    final_df=df.sort_values('fit_tfidf',ascending=False)
    #remove the keyword added to reuse the function again on other different keywords
    corpus.pop()
    return final_df

In [22]:
keyword='Aspiring human resources'
df=rank_candidates_tfidf(keyword,df,"job_title")

C:\Users\Dorcas Taiwo\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [24]:
#number of ranked candidates based on the keyword
print('There are',df[df['fit_tfidf']!=0].shape[0],'ranked candidates for the job',keyword)

There are 35 ranked candidates for the job Aspiring human resources

In [25]:
#Explore the new column 
df

,job_title,location,connection,fit_tfidf
id,,,,
3,aspire human resource professional,"Raleigh-Durham, North Carolina Area",44,0.772731
97,aspire human resource professional,"Kokomo, Indiana Area",71,0.772731
6,aspire human resource specialist,Greater New York City Area,1,0.670497
73,aspire human resource manager seek internship ...,"Houston, Texas Area",7,0.609912
27,aspire human resource management student seek ...,"Houston, Texas Area",500+,0.429037
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.426692
74,human resource professional,Greater Boston Area,16,0.416265
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.402334
7,student humber college aspire human resource g...,Kanada,61,0.386788
100,aspire human resource manager graduating may s...,"Cape Girardeau, Missouri",103,0.348935
79,liberal art major aspire human resource analyst,"Baton Rouge, Louisiana Area",7,0.346862
82,aspire human resource professional energetic t...,"Austin, Texas Area",174,0.329402
99,seek human resource position,"Las Vegas, Nevada Area",48,0.284455
28,seek human resource opportunity,"Chicago, Illinois",390,0.275043
1,bauer college business graduate magna cum laud...,"Houston, Texas",85,0.264813
88,human resource management major,"Milpitas, California",18,0.256845
76,aspire human resource professional passionate ...,"New York, New York",212,0.254075
101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.234533
78,human resource generalist schwan,Amerika Birleşik Devletleri,500+,0.234533
68,human resource specialist luxottica,Greater New York City Area,500+,0.230374
10,seek human resource human resources informatio...,Greater Philadelphia Area,500+,0.226925
89,director human resource ey,Greater Atlanta Area,349,0.225287
67,human resource staff recruit professional,"Jackson, Mississippi Area",500+,0.202495
71,human resource generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.187633
13,human resource coordinator intercontinental bu...,"Atlanta, Georgia",500+,0.155529
94,seek human resource opportunity open travel re...,Amerika Birleşik Devletleri,415,0.150942
84,human resource professional world leader gis s...,"Highland, California",50,0.149344
81,senior human resource business partner heil en...,"Chattanooga, Tennessee Area",455,0.147714
69,director human resource north america groupe b...,"Greater Grand Rapids, Michigan Area",500+,0.146314
75,nortia staff seek human resource payroll admin...,"San Jose, California",500+,0.143479
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.112930
77,human resource conflict management policy proc...,Dallas/Fort Worth Area,409,0.107620
8,human resources senior specialist,San Francisco Bay Area,500+,0.102804
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.078413
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.066991
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.000000
4,people development coordinator ryan,"Denton, Texas",500+,0.000000
102,business intelligence analytic traveler,Greater New York City Area,49,0.000000
98,student,"Houston, Texas Area",4,0.000000
103,always set success,Greater Los Angeles Area,500+,0.000000
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.000000
95,student westfield state university,"Bridgewater, Massachusetts",57,0.000000
11,student chapman university,"Lake Forest, California",2,0.000000
93,admission representative community medical cen...,"Long Beach, California",9,0.000000
92,seek employment opportunity within customer se...,"Torrance, California",64,0.000000
91,lead official western illinois university,Greater Chicago Area,39,0.000000
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.000000
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.000000
86,information system specialist programmer love ...,"Gaithersburg, Maryland",4,0.000000
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.000000
80,junior mes engineer information system,"Myrtle Beach, South Carolina Area",52,0.000000
2,native english teacher epik english program korea,Kanada,500+,0.000000
104,director administration excellence log,"Katy, Texas",500+,0.000000

### Apply Bert
BERT stands for Bidirectional Encoder Representations from Transformers. It is designed to pre-train deep bidirectional representations from unlabeled text by jointly conditioning on both left and right context. As a result, the pre-trained BERT model can be fine-tuned with just one additional output layer to create state-of-the-art models for a wide range of NLP tasks.

In [26]:
#Load the pretrained model 
bert = SentenceTransformer('all-MiniLM-L6-v2')

In [27]:
def rank_candidates_bert(keyword,df,feature_name):
    #load bert model 
    bert = SentenceTransformer('all-MiniLM-L6-v2')
    #store cleaned rows into a list
    corpus=df[feature_name].tolist()
    #apply preprocessing on keyword
    keyword=clean_string(keyword, stem='Spacy')
    #Append the cleaned keyword to the corpus list 
    corpus.append(keyword)
    #encode our sentences
    sentence_embeddings = bert.encode(corpus)
    print("the shape of our encoded sentences is",sentence_embeddings.shape)
    shape=sentence_embeddings.shape
    #calculate the cosine similarity between the keyword and the data's rows
    cosine_sim = cosine_similarity(sentence_embeddings[:shape[0]-1], sentence_embeddings[shape[0]-1].reshape(1, -1))
    #Add cosine resluts into a new column fit
    df['fit_bert']=cosine_sim
    #store the ranked candidates based on the fit score
    final_df=df.sort_values('fit_bert',ascending=False)
    #remove the keyword added to reuse the function again on other different keywords
    corpus.pop()
    return final_df

In [28]:
keyword='Aspiring human resources'
df=rank_candidates_bert(keyword,df,"job_title")

the shape of our encoded sentences is (54, 384)

In [29]:
#number of ranked candidates based on the keyword
print('There are',df[df['fit_bert']!=0].shape[0],'ranked candidates for the job',keyword)

There are 53 ranked candidates for the job Aspiring human resources

In [30]:
#Explore the new column 
df

,job_title,location,connection,fit_tfidf,fit_bert
id,,,,,
3,aspire human resource professional,"Raleigh-Durham, North Carolina Area",44,0.772731,0.924379
97,aspire human resource professional,"Kokomo, Indiana Area",71,0.772731,0.924379
6,aspire human resource specialist,Greater New York City Area,1,0.670497,0.913294
74,human resource professional,Greater Boston Area,16,0.416265,0.725905
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.402334,0.707049
73,aspire human resource manager seek internship ...,"Houston, Texas Area",7,0.609912,0.689495
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.426692,0.683848
100,aspire human resource manager graduating may s...,"Cape Girardeau, Missouri",103,0.348935,0.663966
7,student humber college aspire human resource g...,Kanada,61,0.386788,0.663035
99,seek human resource position,"Las Vegas, Nevada Area",48,0.284455,0.661434
76,aspire human resource professional passionate ...,"New York, New York",212,0.254075,0.647443
78,human resource generalist schwan,Amerika Birleşik Devletleri,500+,0.234533,0.643974
82,aspire human resource professional energetic t...,"Austin, Texas Area",174,0.329402,0.640521
28,seek human resource opportunity,"Chicago, Illinois",390,0.275043,0.638006
67,human resource staff recruit professional,"Jackson, Mississippi Area",500+,0.202495,0.618074
13,human resource coordinator intercontinental bu...,"Atlanta, Georgia",500+,0.155529,0.617703
27,aspire human resource management student seek ...,"Houston, Texas Area",500+,0.429037,0.617645
8,human resources senior specialist,San Francisco Bay Area,500+,0.102804,0.613887
89,director human resource ey,Greater Atlanta Area,349,0.225287,0.613770
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.066991,0.606636
79,liberal art major aspire human resource analyst,"Baton Rouge, Louisiana Area",7,0.346862,0.604856
88,human resource management major,"Milpitas, California",18,0.256845,0.604698
10,seek human resource human resources informatio...,Greater Philadelphia Area,500+,0.226925,0.598351
71,human resource generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.187633,0.597792
68,human resource specialist luxottica,Greater New York City Area,500+,0.230374,0.583683
101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.234533,0.583422
69,director human resource north america groupe b...,"Greater Grand Rapids, Michigan Area",500+,0.146314,0.574821
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.078413,0.512002
84,human resource professional world leader gis s...,"Highland, California",50,0.149344,0.500617
81,senior human resource business partner heil en...,"Chattanooga, Tennessee Area",455,0.147714,0.495915
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.112930,0.478978
4,people development coordinator ryan,"Denton, Texas",500+,0.000000,0.474803
75,nortia staff seek human resource payroll admin...,"San Jose, California",500+,0.143479,0.465623
1,bauer college business graduate magna cum laud...,"Houston, Texas",85,0.264813,0.465576
77,human resource conflict management policy proc...,Dallas/Fort Worth Area,409,0.107620,0.450623
94,seek human resource opportunity open travel re...,Amerika Birleşik Devletleri,415,0.150942,0.382453
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.000000,0.353806
86,information system specialist programmer love ...,"Gaithersburg, Maryland",4,0.000000,0.339302
104,director administration excellence log,"Katy, Texas",500+,0.000000,0.297715
80,junior mes engineer information system,"Myrtle Beach, South Carolina Area",52,0.000000,0.297625
102,business intelligence analytic traveler,Greater New York City Area,49,0.000000,0.294870
91,lead official western illinois university,Greater Chicago Area,39,0.000000,0.254254
11,student chapman university,"Lake Forest, California",2,0.000000,0.254159
92,seek employment opportunity within customer se...,"Torrance, California",64,0.000000,0.243201
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.000000,0.215795
98,student,"Houston, Texas Area",4,0.000000,0.213943
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.000000,0.210670
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.000000,0.169402
93,admission representative community medical cen...,"Long Beach, California",9,0.000000,0.165537
2,native english teacher epik english program korea,Kanada,500+,0.000000,0.158858
95,student westfield state university,"Bridgewater, Massachusetts",57,0.000000,0.153685
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.000000,0.100122
103,always set success,Greater Los Angeles Area,500+,0.000000,0.062675

### Observation: 
From the result above, BERT technique appears to be more effective for ranking the talents and would be adopted.
It is important to note that BERT's performance is due to it's pretrained large corpus of unlabelled text including the entire Wikipedia(that’s 2,500 million words!) and Book Corpus (800 million words).

## Re-ranking Candidates after starring
Here, after starring a candidate(s) by entering the id, the job titles of that candidate(s) becomes the keyword and then the pointwise technique (cosine similarity) would be used to re-rank the talent list to select the potential talents.

* Re-rank using the job title starred as keyword and finding its cosine similarity to all the other job titles.
* For this task Bert Embeddings vectors will be used.

In [31]:
#df["starred"]=df["fit_bert"]

In [32]:
index = df.index
print('Candidate Ids list')
for i in index:
    print(i,end=' ')

Candidate Ids list
3 97 6 74 66 73 72 100 7 99 76 78 82 28 67 13 27 8 89 83 79 88 10 71 68 101 69 12 84 81 70 4 75 1 77 94 90 86 104 80 102 91 11 92 96 98 5 87 93 2 95 85 103

In [48]:
starred_id = input("Please, enter id of starred candidate(s): ")

Please, enter id of starred candidate(s): 99

In [49]:
# Build BERT_base model and get Bert vectors

bert_model = SentenceTransformer('bert-base-nli-mean-tokens')
rerank_key = df[df.index.isin([int(starred_id)])]['job_title'].tolist()
bert_vectors_rerank = bert_model.encode(list(df['job_title']))
rerank_vectors = bert_model.encode(rerank_key)

In [50]:
# Cosine similarity
RerankScore = []
for i in range(len(bert_vectors_rerank)) :
    re_rank_score = cosine_similarity(np.reshape(bert_vectors_rerank[i],(1,-1)), np.reshape(rerank_vectors[0],(1,-1)))
    RerankScore.append(re_rank_score[0][0])
    
df['Rerank Score'] = RerankScore

In [51]:
df.sort_values(by=['Rerank Score'],ascending=False)

,job_title,location,connection,fit_tfidf,fit_bert,Rerank Score
id,,,,,,
99,seek human resource position,"Las Vegas, Nevada Area",48,0.284455,0.661434,1.000000
28,seek human resource opportunity,"Chicago, Illinois",390,0.275043,0.638006,0.976697
10,seek human resource human resources informatio...,Greater Philadelphia Area,500+,0.226925,0.598351,0.894310
74,human resource professional,Greater Boston Area,16,0.416265,0.725905,0.866465
6,aspire human resource specialist,Greater New York City Area,1,0.670497,0.913294,0.863791
97,aspire human resource professional,"Kokomo, Indiana Area",71,0.772731,0.924379,0.843415
3,aspire human resource professional,"Raleigh-Durham, North Carolina Area",44,0.772731,0.924379,0.843415
89,director human resource ey,Greater Atlanta Area,349,0.225287,0.613770,0.802768
68,human resource specialist luxottica,Greater New York City Area,500+,0.230374,0.583683,0.790024
94,seek human resource opportunity open travel re...,Amerika Birleşik Devletleri,415,0.150942,0.382453,0.776818
88,human resource management major,"Milpitas, California",18,0.256845,0.604698,0.762635
4,people development coordinator ryan,"Denton, Texas",500+,0.000000,0.474803,0.758356
82,aspire human resource professional energetic t...,"Austin, Texas Area",174,0.329402,0.640521,0.755824
101,human resource generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.234533,0.583422,0.754710
78,human resource generalist schwan,Amerika Birleşik Devletleri,500+,0.234533,0.643974,0.748785
67,human resource staff recruit professional,"Jackson, Mississippi Area",500+,0.202495,0.618074,0.744725
8,human resources senior specialist,San Francisco Bay Area,500+,0.102804,0.613887,0.695510
84,human resource professional world leader gis s...,"Highland, California",50,0.149344,0.500617,0.679315
92,seek employment opportunity within customer se...,"Torrance, California",64,0.000000,0.243201,0.675182
77,human resource conflict management policy proc...,Dallas/Fort Worth Area,409,0.107620,0.450623,0.659030
76,aspire human resource professional passionate ...,"New York, New York",212,0.254075,0.647443,0.658361
71,human resource generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.187633,0.597792,0.635161
73,aspire human resource manager seek internship ...,"Houston, Texas Area",7,0.609912,0.689495,0.628973
98,student,"Houston, Texas Area",4,0.000000,0.213943,0.615960
104,director administration excellence log,"Katy, Texas",500+,0.000000,0.297715,0.611092
7,student humber college aspire human resource g...,Kanada,61,0.386788,0.663035,0.606936
75,nortia staff seek human resource payroll admin...,"San Jose, California",500+,0.143479,0.465623,0.585272
86,information system specialist programmer love ...,"Gaithersburg, Maryland",4,0.000000,0.339302,0.565153
27,aspire human resource management student seek ...,"Houston, Texas Area",500+,0.429037,0.617645,0.552901
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.402334,0.707049,0.544679
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.000000,0.210670,0.536769
69,director human resource north america groupe b...,"Greater Grand Rapids, Michigan Area",500+,0.146314,0.574821,0.532238
81,senior human resource business partner heil en...,"Chattanooga, Tennessee Area",455,0.147714,0.495915,0.479373
100,aspire human resource manager graduating may s...,"Cape Girardeau, Missouri",103,0.348935,0.663966,0.476275
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.426692,0.683848,0.459366
103,always set success,Greater Los Angeles Area,500+,0.000000,0.062675,0.453125
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.066991,0.606636,0.450502
95,student westfield state university,"Bridgewater, Massachusetts",57,0.000000,0.153685,0.449485
11,student chapman university,"Lake Forest, California",2,0.000000,0.254159,0.427521
102,business intelligence analytic traveler,Greater New York City Area,49,0.000000,0.294870,0.418006
80,junior mes engineer information system,"Myrtle Beach, South Carolina Area",52,0.000000,0.297625,0.407934
2,native english teacher epik english program korea,Kanada,500+,0.000000,0.158858,0.399593
13,human resource coordinator intercontinental bu...,"Atlanta, Georgia",500+,0.155529,0.617703,0.394917
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.112930,0.478978,0.391079
79,liberal art major aspire human resource analyst,"Baton Rouge, Louisiana Area",7,0.346862,0.604856,0.389755
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.000000,0.353806,0.389183
91,lead official western illinois university,Greater Chicago Area,39,0.000000,0.254254,0.382683
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.078413,0.512002,0.376998
1,bauer college business graduate magna cum laud...,"Houston, Texas",85,0.264813,0.465576,0.342240
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.000000,0.100122,0.256541
93,admission representative community medical cen...,"Long Beach, California",9,0.000000,0.165537,0.218738
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.000000,0.215795,0.150467
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.000000,0.169402,0.100099

### Conclusion: 
The result above shows that, the ranked list based on BERT's model is being reranked successfully. We can see, the starred candidate with id 99 rightly labeled as 1. Then, we can say that our model reaches strongly the goals of this project.

The goal of this project is to predict how fit the candidates are based on their available information. The project is divided into 2 steps: Rank candidates based on a fitness score and then Re-rank candidates when a candidate is starred.